{% set shortcut = blogshortcut ?? {} %}
{% set admin_route = config.plugins.admin.route|default('/admin')|trim('/') %}
{% set admin_path = admin_route ? '/' ~ admin_route : '' %}
{% set root_url = uri.rootUrl(true)|trim('/', 'right') %}
{% set link = shortcut.link ?? (root_url ~ admin_path ~ '/pages/add') %}
{% set label = shortcut.button_label ?? 'Nouvel article' %}

<li class="task">
    <a class="button button-primary button-small" href="{{ link }}">
        <i class="fa fa-plus"></i>
        <span>{{ label }}</span>
    </a>
</li>
