{% set shortcut = blogshortcut ?? {} %}
{% set admin_route = config.plugins.admin.route|default('/admin')|trim('/') %}
{% set admin_path = admin_route ? '/' ~ admin_route : '' %}
{% set root_url = uri.rootUrl(true)|trim('/', 'right') %}
{% set base_admin_url = root_url %}
{% if admin_path %}
    {% if base_admin_url ends with admin_path %}
        {% set base_admin_url = base_admin_url %}
    {% else %}
        {% set base_admin_url = base_admin_url ~ admin_path %}
    {% endif %}
{% endif %}
{% set link = shortcut.link ?? (base_admin_url ~ '/pages') %}
{% set label = shortcut.button_label ?? 'Nouvel article' %}

{% if authorize(['admin.pages.create', 'admin.super']) and link %}
<li class="hint--bottom blogshortcut-task" data-hint="{{ label }}">
    <a class="blogshortcut-quick" href="{{ link }}" data-blogshortcut-trigger="1">
        <i class="fa fa-file-text-o"></i>
    </a>
</li>
{% endif %}
